{% extends '::base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block body%}
    <div class="container" style="margin-top: 70px; width: 90%;">
        <div class="thumbnail" style="text-align: center">
            <img src="{{ asset('pictures/fub.png') }}" alt="..." style="text-align: center" width="30%" height="30%">
            <div class="caption">
                <h3>FREE-UNITED-BUSINESS</h3>
                <p>NIF:3002606411 RCS:2017 B 00233</p>
                <p>STAT:4742311 11 2017 0 10246</p>
                <p>II 22 Box N108 Immeuble PARADISE Tsiazotafo</p>
                <p>Antananarivo-NADAGASCAR</p>
                <p><a href="mailto:fub@fubmad.com">fub@fubmad.com</a></p>
            </div>
        </div>

        <div class="panel panel-primary" style="text-align: center">
            <div class="panel-heading">Président</div>
            <div class="panel-body">
                <p>Mamadou Bailo BARRY</p>
                <p><a href="mailto:presidence.fub@fubmad.com">presidence.fub@fubmad.com</a></p>
                <p>+261 34 02 936 19</p>
            </div>
        </div>

        <div class="panel panel-primary" style="text-align: center">
            <div class="panel-heading">Secrétaire</div>
            <div class="panel-body">
                <p>Abdoulaye BARRY</p>
                <p><a href="mailto:secretaire.fub@fubmad.com">secretaire.fub@fubmad.com</a></p>
                <p>+261 34 68 881 65</p>
            </div>
        </div>

        <div class="panel panel-primary" style="text-align: center">
            <div class="panel-heading">Résponsable commercial</div>
            <div class="panel-body">
                <p>Ibrahima BAH</p>
                <p><a href="mailto:commercial.fub@fubmad.com">commercial.fub@fubmad.com</a></p>
                <p>+261 34 36 221 88</p>
            </div>
        </div>

        <div class="panel panel-primary" style="text-align: center">
            <div class="panel-heading">Résponsable de la communication</div>
            <div class="panel-body">
                <p>Ibrahima Sory SOW</p>
                <p><a href="mailto:communication.fub@fubmad.com">communication.fub@fubmad.com</a></p>
                <p>+261 33 31 790 50</p>
            </div>
        </div>

        <div class="panel panel-primary" style="text-align: center">
            <div class="panel-heading">Caissier</div>
            <div class="panel-body">
                <p>Alpha Oumar BAH</p>
                <p><a href="mailto:caissier.fub@fubmad.com">caissier.fub@fubmad.com
                    </a></p>
                <p>+261 34 15 347 34</p>
            </div>
        </div>
    </div>
{% endblock %}