{% extends '::base.html.twig' %}
{% block title %}Règles et pré requis{% endblock %}
{% block body%}
    <div class="container"style="margin-top: 70px; width: 90%;">
        <h3>Pré requis et article de règlement</h3>
        <div class="panel panel-primary">
            <div class="panel-heading">Article 1</div>
            <div class="panel-body">
                Il n'est autorisé à devenir un investisseur de la société FUB que soit une personne morale ou une personne
                physique ayant plus de 18 ans sans distinction de sexe et/ou d'origine.
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Article 2</div>
            <div class="panel-body">
                La convention entre la société FUB et l'investisseur se régime par un contrat, d'une durée de 12 mois renouvelable.
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Article 3</div>
            <div class="panel-body">
                Le montant minimum pour investir dans la société FUB est évalué à (cinq million d'Ariary) 5.000.000 Ar.
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Article 4</div>
            <div class="panel-body">
                La répartition du bénéfice sur le revenue se calculera par rapport au ratio investi de chaque investisseur,
                imputé du montant de réserve pour l'auto investissement d'une valeur de 50% du résultat net.
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Article 5</div>
            <div class="panel-body">
                A la date d'échéance du contrat, le montant investi sera remboursé à l'investisseur.
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Article 6</div>
            <div class="panel-body">
                L'investisseur a le droit de retirer le montant du bénéfice sous préavis de 20 jours, la société FUB
                versera à l'investisseur le monant convenu.
                <p><u>Notes:</u> le frais de la transaction sera prise en charge par l'investisseur.</p>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Article 7</div>
            <div class="panel-body">
                Dans le cas de décès de l'investisseur, la société versera la totalité du montant investi du défunt aux
                héritiers mentionnés dans le formulaire rempli lors du contrat.
            </div>
        </div>
    </div>
{% endblock %}